body {
	display:  flex;
	flex-flow:  row wrap;
	justify-content: center;
	align-content: space-around;
}
.column-1-2 {
	display:  block;
	width: 50%;
	&:hover {
		background:  grey;
	}
}
.game-messages {
	display:  flex;
	flex-flow:  column;
}
.flex-row {
	display:  flex;
	flex-flow:  row wrap;
}
.space-between {
	width:  100%;
	display:  flex;
	justify-content: space-around;
	justify-items: space-between;
}
.title {
	width:  100vw;
	display:  block;
}
button {
	padding:  .5em;
	border:  5px solid #33aaff;
}
.button:hover {
	border:  5px solid #ffaa33;
}
.winner {
	color:  green;
}